#imageViewer {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0 auto;
	vertical-align: middle;
}

#imageViewer-background {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	position: fixed;
	z-index: -1;
}

#imageViewer img {
	position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#imageViewer #image {
	display: block;
	max-width:95%;
	max-height:95%;
	width: auto;
	height: auto;
}

.image-to-view:hover {
	cursor: pointer;
}

.container {
    margin-top:16px;
}

#register-form, #login-form {
    width:400px;
    margin: 0 auto;
    margin-top: 100px;
}

#add-post-form {
    margin-top: 64px;
}

#input-text-form {
    width:100%;
}

.post {
    padding: 10px;
    font-family: Arial;
    margin-top: 16px;
    border: 1px solid #CCC;
    border-radius: 10px;
}

.comment {
    border: 0;
}

.post-header {
    border-bottom: 1px #AAA solid;
    padding:8px;
}

.post-author {
    display: inline-block;
}

.post-date {
    display: inline-block;
    font-size: 0.8em;
}

.post-delete {
    display: inline-block;
    font-size: 0.6em;
    margin-left: 8px;
}

.post-delete a:link {
    color:red;
}

.post-delete a:visited {
    color:red;
}

.post-delete a:active {
    color:red;
}

.post-plus {
    float:right;
}

.post-plus-num {
    display: inline-block;
}

.post-plus-button {
    display: inline-block;
}

.post-text {
    padding: 8px;
}

.post-text-deleted {
    padding: 8px;
    font-style:italic;
}

.post-image img {
    max-width: 100%;
    height: auto;
}

.post-menu {
    font-size: 0.9em;
    margin-left: 16px;
}

.post .comments {
    margin-left: 32px;
}

.post .show-more {
    margin:0 auto;
    margin-top:8px;
    font-size:0.8em;
    text-align: center;
}

.clear::after{
    content: '';
    display: block;
    clear: both;
}
